/*body {
    
    
}*/

body::before{
    background: url(assets/shrek1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    opacity: 1;

    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position:absolute;
    z-index: -1;
}

.icon {
    height: 50px;
    transition-duration: 700ms;
}
